@import "../../../../variables.scss";

:host {
  background: $darkgray;
  padding: 20px;
}

.logo {
  font-size: 22px;
  color: white;
}

.logo-icon {
  font-size: 30px;
}

.shopping-basket {
  font-size: 25px;
}
