<h1>Cart</h1>

<div *ngIf="summary?.items">
  <div fxLayout="row" fxLayoutAlign="space-between start" class="card-hrow">
    <div class="cart-hcol-1">Image</div>
    <div class="cart-hcol-2">Name</div>
    <div class="cart-hcol-3">Quantity</div>
    <div class="cart-hcol-4">Value</div>
  </div>
  <div *ngFor="let item of summary?.items" fxLayout="row" fxLayoutAlign="space-between start" class="card-row">
    <div class="cart-col-1">
      <a routerLink="{{'/products/' + item?.product?.slug}}">
        <img *ngIf="!item?.product?.image" src="/assets/image-placeholder.png" width="100" alt="">
        <img *ngIf="item?.product?.image" src="{{'/api/data/productImages/' + item?.product?.image}}" width="100"
             alt="">
      </a>
    </div>
    <div class="cart-col-2">{{item?.product?.name}}</div>
    <div class="cart-col-3">{{item?.quantity}}</div>
    <div class="cart-col-4">{{item?.lineValue}}</div>
  </div>
  <div fxLayoutAlign="end start">
    <div class="summary"> Value:</div>
    <div class="summary"><b>{{summary.summary.grossValue}}</b></div>
  </div>
</div>
<div *ngIf="!summary?.items">
  Cart is empty
</div>
