<h1>Orders export</h1>
<form [formGroup]="formGroup" fxLayoutAlign="space-around center" (submit)="export()">
  <mat-form-field appearance="fill">
    <mat-label>From</mat-label>
    <input matInput placeholder="Enter date from" formControlName="from" [matDatepicker]="from">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
    <mat-datepicker #from></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>To</mat-label>
    <input matInput placeholder="Enter date to" formControlName="to" [matDatepicker]="to">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
    <mat-datepicker #to></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select formControlName="orderStatus">
      <mat-option *ngFor="let status of statuses | keyvalue" [value]="status.key">{{status.value}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button color="primary" [disabled]="!formGroup.valid">Export</button>
</form>
