<h1>Category: {{categoryName}}</h1>
<p>Description: {{categoryDescription}}</p>
<mat-card *ngFor="let product of categoryProducts?.products?.content">
  <div flexlayout="row">
    <div flexlayout="column" fxFlex>
      <mat-card-header>
        <mat-card-title><a routerLink="{{'/products/' + product.slug}}"> {{ product.name }}</a></mat-card-title>
        <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <div flexlayout="row">
          <a routerLink="{{'/products/' + product.slug}}">
            <img *ngIf="!product.image" src="assets/image-placeholder.png" alt="" mat-card-lg-image
                 class="product-image">
            <img *ngIf="product.image" src="{{'/api/data/productImages/' + product.image}}" alt="" mat-card-lg-image
                 class="product-image">
          </a>
          <mat-card-content fxFlex class="product-content">{{ product.description }}</mat-card-content>
        </div>
      </mat-card-header>
    </div>
    <div>
      <mat-card-header>
        <div *ngIf="product.salePrice" class="price-container">
          <div class="product-sale-price" *ngIf="product.salePrice">{{ product.salePrice }} {{ product.currency }}</div>
          <div class="product-price"
               [ngClass]="{'product-price-disable': product.salePrice}">{{ product.price }} {{ product.currency }}</div>
        </div>
        <div *ngIf="!product.salePrice" class="product-price">{{ product.price }} {{ product.currency }}</div>
      </mat-card-header>
    </div>
  </div>
  <mat-card-actions align="end" fxLayoutGap="10">
    <button mat-flat-button color="accent" routerLink="{{'/products/' + product.slug}}">Show</button>
    <button mat-flat-button color="primary" routerLink="/cart" [queryParams]="{productId:product.id}">Add to cart
    </button>
  </mat-card-actions>
</mat-card>
<mat-paginator *ngIf="categoryProducts?.products && categoryProducts.products.totalElements > 0"
               [length]="categoryProducts.products.totalElements"
               [pageSize]="10"
               [pageSizeOptions]="[10, 25, 50, 100]"
               aria-label="Select page"
               (page)="onPageChange($event)">
</mat-paginator>
