@import "../../../variables";

:host {
  display: flex;
  flex-direction: column;
}

.product-image {
  margin-right: 10px;
}

.product-price {
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
  color: $warn;
}

.product-content {
  font-size: 18px;
}

mat-card {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #777;
}

.product-sale-price {
  color: green;
  font-weight: 500;
  font-size: 30px;
  margin-top: 20px;
}

.product-price-disable {
  color: lightgray;
  text-decoration: line-through;
  font-size: 22px;
}

.price-container {
  display: flex;
  flex-direction: column;
}
