<h1>Products on sale</h1>
<mat-card *ngFor="let product of homePageData?.saleProducts">
  <div flexLayout="row">
    <div flexLayout="colum" fxFlex>
      <mat-card-header>
        <mat-card-title><a routerLink="{{'/products/' + product.slug}}">{{product.name}}</a></mat-card-title>
        <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <div flexLaoyout="row">
          <a routerLink="{{'/products/' + product.slug}}">
            <img *ngIf="!product.image" src="assets/image-placeholder.png" alt="" mat-card-lg-image
                 class="product-image">
            <img *ngIf="product.image" src="{{'/api/data/productImages/' + product.image}}" alt="" mat-card-lg-image
                 class="product-image">
          </a>
          <mat-card-content fxFlex>{{product.description}}</mat-card-content>
        </div>
      </mat-card-header>
    </div>
    <div>
      <mat-card-header>
        <div *ngIf="product.salePrice" class="price-container">
          <div class="product-sale-price" *ngIf="product.salePrice">{{ product.salePrice }} {{ product.currency }}</div>
          <div class="product-price"
               [ngClass]="{'product-price-disable': product.salePrice}">{{ product.price }} {{ product.currency }}</div>
        </div>
        <div *ngIf="!product.salePrice" class="product-price">{{ product.price }} {{ product.currency }}</div>
      </mat-card-header>
    </div>
  </div>
  <mat-card-actions align="end" fxLayoutGap="10">
    <button mat-flat-button color="accent" routerLink="{{'/products/' + product.slug}}">Show</button>
    <button mat-flat-button color="warn" routerLink="/cart" [queryParams]="{productId: product?.id}">Add to cart
    </button>
  </mat-card-actions>
</mat-card>

