<div class="content" fxLayout="column" fxLayoutGap="30px">
  <div fxLayout="row">
    <span fxFlex>Are you sure you want to delete this product?</span>
    <button mat-icon-button class="closeButton" [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayoutGap="5px">
    <button fxFlex mat-raised-button [mat-dialog-close]="false">Cancel</button>
    <button fxFlex mat-raised-button color="warn" [mat-dialog-close]="true">Confirm</button>
  </div>
</div>
