@import "../../../variables.scss";

.description, .fullDescription {
  margin-top: 20px;
  margin-bottom: 25px;
}

.price {
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  color: $warn;
}

.review {
  background-color: white;
  margin: 20px 0;
  padding: 7px;
}

.product-sale-price {
  color: green;
  font-weight: 500;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 5px;
}

.product-price-disable {
  color: lightgray;
  text-decoration: line-through;
  font-size: 22px;
}

.price-container {
  display: flex;
  flex-direction: column;
}
