<header flexLayout="column" fxLayoutAlign="start center">
  <div fxFlex fxLayoutAlign="start end" fxLayoutGap="10">
    <mat-icon color="accent" class="logo-icon">store</mat-icon>
    <span class="logo">SHOP PANEL</span>
  </div>
  <div>
    <button routerLink="">Link</button>
  </div>
</header>
<div fxLayout="row" fxFlex>
  <div>
    <div fxFlex class="sidebar">
      <mat-selection-list [multiple]="false">
        <mat-list-option><a routerLink="/admin">Dashboard</a></mat-list-option>
        <mat-list-option><a routerLink="/admin/orders">Orders</a></mat-list-option>
        <mat-list-option><a routerLink="/admin/products">Products</a></mat-list-option>
        <mat-list-option><a routerLink="/admin/categories">Categories</a></mat-list-option>
        <mat-list-option><a routerLink="/admin/reviews">Reviews</a></mat-list-option>
        <mat-list-option><a routerLink="/admin">Link</a></mat-list-option>
      </mat-selection-list>

    </div>
  </div>
  <div fxFlex class="content">
    <app-admin-message></app-admin-message>
    <router-outlet></router-outlet>
  </div>
</div>
