<h2>Password recovery</h2>
<form *ngIf="!hash" [formGroup]="formGroupResetPassword" fxLayout="column" (submit)="send()"
      class="lostPasswordForm">
  <div *ngIf="formError" class="error">{{formError}}</div>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Enter your e-mail">
  </mat-form-field>
  <button [disabled]="!formGroupResetPassword.valid" mat-flat-button color="primary">Reset password</button>
</form>
<form *ngIf="hash" [formGroup]="formGroupChangePassword" fxLayout="column" (submit)="sendChangePassword()"
      class="lostPasswordForm">
  <div *ngIf="formChangePasswordError" class="error">{{formChangePasswordError}}</div>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password" placeholder="Enter password">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Repeat password</mat-label>
    <input type="password" matInput formControlName="repeatPassword" placeholder="Repeat password">
  </mat-form-field>
  <button [disabled]="!formGroupChangePassword.valid" mat-flat-button color="primary">Send</button>
</form>

