<div fxLayout="row">
  <div fxFlex>
    <h2>Log in</h2>
    <form [formGroup]="loginForm" fxLayout="column" (submit)="login()" class="loginForm">
      <div *ngIf="loginError" class="error">Please provide correct login data</div>
      <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput formControlName="username" placeholder="Enter your e-mail">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>
      <button mat-flat-button color="primary" [disabled]="!loginForm.valid">Log in</button>
    </form>
  </div>
  <div fxFlex>
    <h2>Register</h2>
    <form [formGroup]="registerForm" fxLayout="column" (submit)="register()" class="registerForm">
      <div *ngIf="registerError" class="error">{{registerErrorMessage}}</div>
      <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput formControlName="username" placeholder="Enter your e-mail">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Repeat password</mat-label>
        <input type="password" matInput formControlName="repeatPassword" placeholder="Repeat password">
      </mat-form-field>
      <button mat-flat-button color="primary" [disabled]="!registerForm.valid">Register</button>
    </form>
  </div>
</div>
