@import "variables";

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content {
  padding: 20px;
  background: $lightgray;
}

.snack-bar-bg-color-ok {
  --mdc-snackbar-container-color: green;
  --mat-mdc-snack-bar-button-color: white;
}

table {
  width: 100%;
}
